
html, body {
  height: 100%;
  margin: 0;
}


#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* height: 100%; */
  font-family: "Open Sans", sans-serif;
  background-color:#FAFAFA;
}
